<div *ngIf="isReady">
  <div class="toolbar" role="banner">
    <i class="fa fa-play-circle"></i>
    <a aria-label="My music app" target="_blank" rel="noopener">
      {{title}}
    </a>
  </div>
    <!-- Header -->
    <header class="header text-center">
      <div class="container">
        <div class="row mt-5">
          <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Music App | Angular JS demo.</h1>
            <hr>
            <p class="lead text-muted">Choose your favorite POP artists.</p>
            <p class="lead text-muted">Make your own playlists and listen to their tracks.</p>

            <!-- Search bar -->
            <div class="row mt-5">
              <div class="col text-center">
                <div class="input-group">
                  <div class="form-outline">
                    <input type="search" id="form1" class="form-control" placeholder="Search" />
                  </div>
                  <button type="button" class="btn btn-primary">
                    <i class="fa fa-search"></i>
                  </button>
                </div>
              </div>
            </div>

            <p class="mt-5">
              <button class="btn btn-primary mx-2">Create a Playlist</button>
              <button class="btn btn-secondary btn-danger mx-2" (click)="openAlbum()">Pick an Artist</button>
            </p>
          </div>
        </div>
      </div>
    </header>

    <!-- Main section -->
    <div *ngIf="album" class="album mt-5">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="card-img img-box">
              <img class="cover-img" src="assets/images/artists/ariana_grande_bg.jpg">
              <div class="card-body text-center">
                <p class="card-text text-left">Ariana Grande</p>
                <button type="button" class="btn btn-sm btn-primary text-right">Choose</button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <div class="card-img img-box">
              <img class="cover-img" src="assets/images/artists/justin_timberlake_bg.jpg">
              <div class="card-body text-center">
                <p class="card-text text-left">Justin Timberlake</p>
                <button type="button" class="btn btn-sm btn-primary text-right">Choose</button>
              </div>
            </div>
          </div>
          <div class="col text-center">
            <div class="card-img img-box">
              <img class="cover-img" src="assets/images/artists/dua_lipa_bg.jpg">
              <div class="card-body text-center">
                <p class="card-text text-left">Dua Lipa</p>
                <button type="button" class="btn btn-sm btn-primary text-right">Choose</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-muted mt-5">
      <!-- Section: Social media -->
      <section>
        <div class="social py-3 text-center">
          <a href="" class="me-3 text-reset">
            <i class="fa fa-facebook-f"></i>
          </a>
          <a href="" class="me-3 text-reset">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="" class="me-3 text-reset">
            <i class="fa fa-google"></i>
          </a>
          <a href="" class="me-3 text-reset">
            <i class="fa fa-instagram"></i>
          </a>
          <a href="" class="me-3 text-reset">
            <i class="fa fa-linkedin"></i>
          </a>
          <a href="" class="text-reset">
            <i class="fa fa-github"></i>
          </a>
        </div>
      </section>


          <!-- Copyright -->
          <div class="text-center text-muted">
            © 2022 Copyright.
          </div>
          <!-- Copyright -->
    </footer>
</div>

