//Dataview - artists
:host ::ng-deep {
  .p-card {
    background: #14171a;
    color: white;
  }
  .p-panel {
    .p-panel-header {
      border-bottom: 0;
      color: #fff;
      background: #14171a;
      height: 35px;
      padding: 18px;
      .p-panel-icons {
        > button {
          color: white;
        }
      }
    }
    .p-panel-content {
      background: #14171a;
      border: 1px solid white;
      .p-card {
        .p-card-header {
          color: #3b82f6;
          img {
            width: auto;
            height: 400px;
            border-radius: 7px;
          }
        }
        &.player-card {
          .p-card-body {
            &:first-child {
              padding: 0 0 0 0!important;
            }
            .p-card-content {
              padding: 0 0 0 0!important;
            }
          }
        }
      }
    }
    .p-panel-header {
      border-bottom: 0;
      color: white;
    }
  }
  .p-dataview {
    .p-dataview-content,
    .p-dataview-header,
    .p-dataview-footer {
      background-color: #14171a;
      border: 0;
    }
    .p-dataview-content {
      .p-grid {
        > div {
          border: 0;
        }
      }
    }
  }
  ang-music-player {
    .wrapper {
      width: 100%;
      border: 1px solid white;
      padding: 30px;
      background: none;
      height: unset;
      .container {
        .details {
          .slidecontainer {
            .time-line {
              color: white!important;
            }
          }
          .title {
            color: white!important;
          }
        }
        .controls {
          svg {
            fill: white!important;
            opacity: 1;
            &:hover {
              opacity: 0.7;
              transition: all .4s;
            }
          }
        }
      }
    }
  }
}
