<div *ngIf="isReady">

  <!-- Top bar -->
  <div class="toolbar d-flex justify-content-between align-items-center" role="banner">
    <div>
      <i class="pi pi-play"></i>
      <a aria-label="My music app" target="_blank" rel="noopener">
        {{title}}
      </a>
    </div>

    <div class="icons">
      <a id="search" aria-label="search" rel="">
        <i id="global-search" class="pi pi-search"></i>
      </a>
      <a aria-label="player" rel="">
        <i id="player" class="pi pi-play"></i>
      </a>
      <div class="btn-group">
        <i class="pi pi-sliders-h" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
          <li>
            <button class="dropdown-item" type="button" (click)="changeTheme()">
              <i class="pi pi-check"></i> Light theme
            </button>
          </li>
          <li>
            <button class="dropdown-item dark" type="button" (click)="changeTheme()">
              <i class="pi pi-check"></i> Dark theme
            </button>
          </li>
        </ul>
      </div>
      <div class="btn-group">
        <i class="pi pi-user" id="logoutMenu" data-bs-toggle="dropdown" aria-expanded="false"></i>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="logoutMenu">
          <li>
            <button class="dropdown-item" type="button">Profile</button>
          </li>
          <li>
            <button class="dropdown-item" type="button">Logout</button>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Main section -->
  <section class="main-content">
    <!-- Carousel -->
    <div class="full-height-headers">
      <div id="demo" class="carousel slide mt-5" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
          <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="assets/images/carousel/1.jpg" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carousel/2.jpg" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carousel/3.jpg" alt="" class="d-block w-100">
          </div>
          <div class="carousel-item">
            <img src="assets/images/carousel/5.jpg" alt="" class="d-block w-100">
          </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
          <span class="carousel-control-next-icon"></span>
        </button>
      </div>
      <div class="grid">
        <div class="col-6 col-offset-3" id="arrowDown">
          <img src="assets/images/down_arrow.webp" width="64" height="64" alt="">
        </div>
      </div>
    </div>
    <div class="container">

      <div id="action-buttons">
        <!-- Header-->
        <h1 class="fw-light">Music App | Powered by AngularJS and primeNG</h1>
        <hr class="mt-3">
        <p class="lead mt-3">Choose your favorite <b>Artists</b>. Listen to
          their <b>Greatest Hits</b> or just discover some cool <b>Tracks</b>.</p>
        <p class="lead mt-3">The <b>Choice</b> is yours.</p>
        <div class="grid mt-5">
          <div class="col-6 col-offset-3">
            <button type="button" pButton pRipple label="Pick an artist" id="pick-an-artist"
                    class="p-button-danger mx-3"
                    (click)="openAlbum()"></button>
            <button type="button" pButton pRipple label="Create a Playlist" class="p-button-info"></button>
          </div>
        </div>

        <!-- Choose / Filter the Artist-->
        <div *ngIf="album" class="album mt-5">
          <p-panel header="List of Artists" [toggleable]="true" class="player-card" toggleable>
            <p-dataView #dv [value]="artists" filterBy="name">
              <ng-template pTemplate="header">
                <div class="flex justify-content-center flex-wrap card-container">
                  <div>
                      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input type="search scalein" pinputtext placeholder="Search by Name"
                               class="p-inputtext p-component p-element w-21rem"
                               (input)="dv.filter($event.target.value, 'contains')">
                      </span>
                  </div>

                  <div>
                    <!--                      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>-->
                  </div>
                </div>
              </ng-template>

              <ng-template let-artist pTemplate="listItem">
                <div class="col-12 sm:col-3 text-center scalein animation-duration-400 mt-5 px-4">
                  <div class="card-img img-box">
                    <img class="cover-img" src="{{artist.src}}">
                    <div class="card-body text-center">
                      <p class="card-text text-center">{{artist.name}}</p>
                      <button type="button" pButton pRipple label="Choose" class="p-button-info p-button-sm"></button>
                    </div>
                  </div>
                </div>
              </ng-template>
              <ng-template let-artist pTemplate="gridItem">
                <div class="col-12 md:col-3">
                  <div class="col-12 sm:col-3 text-center scalein animation-duration-400">
                    <div class="card-img img-box">
                      <img class="cover-img" src="{{artist.src}}">
                      <div class="card-body text-center">
                        <p class="card-text text-center">{{artist.name}}</p>
                        <button type="button"
                                pButton pRipple label="Choose"
                                class="p-button-info p-button-sm"
                                id="scrollToMusicPlayer"
                                (click)="openMusicPlayer()">
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>

            </p-dataView>
          </p-panel>
        </div>

      </div>

      <div *ngIf="musicPlayer" class="grid mt-5" id="music-player">
        <div class="col-12">
          <app-player-card></app-player-card>
        </div>
      </div>


    </div>
  </section>
  <!-- End of Main section -->

  <!-- Footer -->
  <footer class="text-center text-lg-start text-muted">
    <!-- Section: Social media -->
    <section>
      <div class="social py-2 text-center">
        <a href="https://www.facebook.com/profile.php?id=1002003666" class="me-3 text-reset" target="_blank">
          <i class="pi pi-facebook"></i>
        </a>
        <a href="https://www.youtube.com/c/PlamenPetrovPacistyleCom/videos" class="me-3 text-reset" target="_blank">
          <i class="pi pi-youtube"></i>
        </a>
        <a href="https://www.instagram.com/paci1234" class="me-3 text-reset" target="_blank">
          <i class="pi pi-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/in/plamen-petrov-36403a62" class="me-3 text-reset" target="_blank">
          <i class="pi pi-linkedin"></i>
        </a>
        <a href="https://github.com/paci1234" class="text-reset" target="_blank">
          <i class="pi pi-github"></i>
        </a>
      </div>
    </section>

    <div class="text-center mt-1">
      <span>© 2022 Copyright. Designed by Pacistyle Corp.</span>
    </div>
  </footer>
</div>

