//Dataview - artists
:host ::ng-deep {
  .p-card {
    background: #14171a;
    color: white;
  }
  .p-dataview {
    .p-dataview-content,
    .p-dataview-header,
    .p-dataview-footer {
      background-color: #14171a;
      border: 0;
    }
    .p-dataview-content {
      .p-grid {
        > div {
          border: 0;
        }
      }
    }
  }
  ang-music-player {
    .wrapper {
      width: 100%;
    }
  }
}
