<p-panel header="You chose: {{currentArtist.name}}" [toggleable]="true" class="player-card" toggleable>
    <router-outlet>
      <div class="grid mt-5">
        <div class="lg:col-6 sm:col-12">
          <p-card header="Bio">
            <ng-template pTemplate="header">
              <img class="cover-img" src="{{currentArtist.src}}">
            </ng-template>
            <p class="text-justify">
              {{currentArtist.bio}}
            </p>
          </p-card>
        </div>
        <div class="lg:col-6 sm:col-12">
          <p-card header="Greatest Hits">
            <ng-template pTemplate="header">
              <ang-music-player [audioList]="currentAudioList"></ang-music-player>
            </ng-template>
            <div class="grid">
              <div class="lg:col-12 sm:col-12">
                <div class="text-justify">
                  <p *ngFor="let hits of greatestHits; let i = index">
                   <span>{{i + 1}}</span> &nbsp; {{hits.hit}}
                  </p>
                </div>
              </div>
            </div>
          
          </p-card>
        </div>
      </div>
    </router-outlet>
  </p-panel>

  <div class="grid mt-5">
    <div class="col-12 align-content-center">
      <p-button label="Return to the Artists section" icon="pi pi-check" (click)="chooseArtist()" id="pick-an-artist"></p-button>
    </div>
  </div>
