body {
  background: #171717;
}

button, input {
  &:focus,
  &:active {
    outline: none!important;
  }
}

.toolbar {
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #0d6efd;
  color: white;
  font-weight: 600;
  i, a {
    margin: 0 0 0 16px;
    color: #fff;
    font-size: 16px;
  }
  a {
    &:hover{
      opacity: 0.6;
      cursor: pointer;
    }
  }
}

.header {
  //border-top: 2px solid white;
  //border-bottom: 1px solid white;
  color: white;
}

section {
  overflow-x: hidden;
  color: white;
  p {
    margin-bottom: 0.5rem;
  }
}

.album {
  .card-img {
    border: none;
    .cover-img {
      max-width: 100%;
    }
    .card-body {
      flex: 1 1 auto;
      padding: 0.5rem 0.5rem;
      background: #212529;
      color: white;
    }
  }
}

footer {
  .social {
    a {
      i {
        &:hover {
          opacity: 0.6;
          color: white;
        }
      }
    }
  }
}


///* Responsive Styles */
//@media screen and (max-width: 767px) {
//

//@media screen and (max-width: 575px) {
//
//}
